*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
}

.wrapper {
  padding-top: 5%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

.card { 
  background-color: hsl(0, 0%, 100%);
  border: solid 3px black;
  box-shadow: 16px 16px rgb(147, 78, 226), -1em -12px rgb(213, 203, 224);
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 20px auto;
  width: 75%;
  max-width: 600px;
  padding: 20px 40px 30px 40px;
}

/* .card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
} */

.card-body {
  min-height: 100px;
}

.card-body textarea {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}
.card-footer {
  text-align: center;
}

.card-footer::before {
  /* content: " ";
  display: block; */
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

/* .card-footer::after {
  content: " ";
  display: block;
  clear: both;
} */

.btn {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  border-radius: 30px;
  border: solid 2px black;
  background-color: rgb(147, 78, 226);
  color: white;
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  width: 220px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  margin: 10px 5px 10px 10px;
}

.secondary-btn {
  color: black;
  border: solid 2px black;
  background-color: rgb(213, 203, 224);
  margin: 10px 10px 10px 5px;
}

#generate:hover {
  background-color: rgb(45, 39, 126);
}

#copy:hover {
  background-color: rgb(45, 39, 126);
  color: white;
}

.btn:focus {
    outline: none;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #dddedf;
  border-radius: 4px;
  resize: none;
  overflow: hidden;
}

footer {
  text-align: center;
  height: 30px;
}

footer a {
  font-weight: 300;
  color: grey;
  text-decoration: none;
}

@media (max-width: 690px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
    text-align: center;
  }
  
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
